<sidebar class="info-box">
  <div id="sidebar-dialog">

    <div class="sidebar-header">
      <h2>Cat Stats:</h2>
    </div>

    <div class="sidebar-body">
      <div id="sidebar-name">
        <h3>Name: Luke Skypawker</h3>
      </div>
      <div id="sidebar-sex">
          <h3>Sex: Male</h3>
        </div>
        <div id="sidebar-age">
            <h3>Age: 2 years</h3>
          </div>
          <div id="sidebar-description">
              <h3>Description: Likes shiny things.</h3>
            </div>
    </div>

    <input class="adopt-button" type="button" value="Adopt Me!">

  </div>
</sidebar>
