<sidebar class="info-box">
  <div id="sidebar-dialog">

    <div class="sidebar-header">
      <h2>Cat Stats:</h2>
    </div>

    <div class="sidebar-body">
        <h3 id="sidebar-name">Name: Luke Skypawker</h3>
        <h3 id="sidebar-sex">Sex: Male</h3>
        <h3 id="sidebar-age">Age: 2 years</h3>
        <h3 id="sidebar-desc">Description: Likes shiny things.</h3>
    </div>

    <input class="adopt-button" type="button" value="Adopt Me!">

  </div>
</sidebar>
