<article id={{_id}} class="kitten-card">
    <div class="kitten-card-img">
        <img src={{img}}>
    </div>
    <div class="kitten-card-name">
        <p class="kitten-card-name-p"> {{name}} </p>
    </div>
</article>
