<div id="modal-backdrop-quiz" class="hidden"></div>
<div id="quiz-modal" class="hidden">
  <div class="modal-dialog-quiz">

    <div class="modal-header">
      <h3>Adoption Quiz:</h3>
    </div>

    <div class="modal-body">
      <div class="modal-input">
       <h4><label for="quiz-sex">Do you want a boy or a girl cat?</label></h4>
        <ul><input name="sex" class="cat-sex-input-quiz" type="radio" value="male">I want a boy!</input></ul>
        <ul><input name="sex" class="cat-sex-input-quiz" type="radio" value="female">Gimme a girl!</input></ul>
      </div>
    
      <div class="modal-input">
        <h4><label for="quiz-age">How old do you want your cat to be?</label></h4>
        <ul><input name="age" class="cat-age-input-quiz" type="radio" value="1">I want a baby (0-1 years).</input></ul>
        <ul><input name="age" class="cat-age-input-quiz" type="radio" value="4">I'd like a young cat (2-5 years).</input></ul>
        <ul><input name="age" class="cat-age-input-quiz" type="radio" value="7">I'm looking for an older cat (6-8 years).</input></ul>
        <ul><input name="age" class="cat-age-input-quiz" type="radio" value="10">I want a geezer (10+ years).</input></ul>
      </div>

     <div class="modal-input">
        <h4><label for="quiz-chonk">Would you like a CHONK?</label></h4>
        <ul><input name="chonk" class="cat-chonk-input-quiz" type="radio" value="true">I need CHONK.</input></ul>
        <ul><input name="chonk" class="cat-chonk-input-quiz" type="radio" value="false">I want my cat to live a long life.</input></ul>
      </div>

      <div class="modal-input">
        <h4><label for="quiz-cuddly">How cuddly of a cat do you want?</label></h4>
        <ul><input name="cuddly" class="cat-cuddly-input-quiz" type="radio" value="1">I would like my cat to never touch me.</input></ul>
        <ul><input name="cuddly" class="cat-cuddly-input-quiz" type="radio" value="2">Occasional pets, but keeps their distance.</input></ul>
        <ul><input name="cuddly" class="cat-cuddly-input-quiz" type="radio" value="3">A solid mix of cuddle time and alone time.</input></ul>
        <ul><input name="cuddly" class="cat-cuddly-input-quiz" type="radio" value="4">I want cuddles most of the time, with some breaks.</input></ul>
        <ul><input name="cuddly" class="cat-cuddly-input-quiz" type="radio" value="5">I need to be constantly cuddled by my cat.</input></ul>
      </div>

      <div class="modal-input">
        <h4><label for="quiz-playful">How playful of a cat do you want?</label></h4>
        <ul><input name="playful" class="cat-playful-input-quiz" type="radio" value="1">I will not tolerate playfulness. Ever.</input></ul>
        <ul><input name="playful" class="cat-playful-input-quiz" type="radio" value="2">I'll play with them every once in a while, but not too much.</input></ul>
        <ul><input name="playful" class="cat-playful-input-quiz" type="radio" value="3">I want a moderately playful cat.</input></ul>
        <ul><input name="playful" class="cat-playful-input-quiz" type="radio" value="4">I'm looking for a sporty kitten!</input></ul>
        <ul><input name="playful" class="cat-playful-input-quiz" type="radio" value="5">I am an athlete and I expect to bring my cat with me to games.</input></ul>
      </div>

      <div class="modal-input">
        <h4><label for="quiz-other-pets">Is it important that your cat is good with other pets?</label></h4>
        <ul><input name="other-pets" class="cat-other-pets-input-quiz" type="radio" value="true">Yes, I have other pets.</input></ul>
        <ul><input name="other-pets" class="cat-other-pets-input-quiz" type="radio" value="false">No, I don't have any other pets.</input></ul>
      </div>

      <div class="modal-input">
        <h4><label for="quiz-fur">What length of fur are you looking for?</label></h4>
        <ul><input name="fur" class="cat-fur-input-quiz" type="radio" value="long">I want a cat with long fur.</input></ul>
        <ul><input name="fur" class="cat-fur-input-quiz" type="radio" value="medium">Medium fur, please.</input></ul>
        <ul><input name="fur" class="cat-fur-input-quiz" type="radio" value="short">Keep that fur short!</input></ul>
      </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button-quiz">Cancel</button>
      <button type="button" class="modal-submit-button-quiz">Submit</button>
    </div>

  </div>
 </div>
</div>