<sidebar class="filter-search">
  <div id="filter-cats-dialogue">

    <div class="filter-header">
      <h2>Filter Search:</h2>
    </div>

    <div class="filter-body">
      <div id="filter-search-sex">
        <h3>Sex:</h3>
        <input name="sex" class="cat-sex-search" type="radio">male</input>
        <input name="sex" class="cat-sex-search" type="radio">female</input>
        <input name="sex" class="cat-sex-search" type="radio">No preference</input>
      </div>
    </div>

    <div id="filter-search-age">
      <h3>Age:</h3>
      <input name="age" class="cat-age-search" type="radio">0-1 years</input>
      <input name="age" class="cat-age-search" type="radio">2-5 years</input>
      <input name="age" class="cat-age-search" type="radio">6-9 years</input>
      <input name="age" class="cat-age-search" type="radio">10+ years</input>
      <input name="age" class="cat-age-search" type="radio">No preference</input>
    </div>
  </div>

  <div id="filter-search-chonk">
    <h3>Chonk or No Chonk:</h3>
    <label for="cat-chonk-filter">Chonk?</label>
    <input id="cat-chonk-filter" type="checkbox"></input>
  </div>

  <div id="filter-search-cuddly">
      <h3>Cuddlyness Rating:</h3>
      <input name="cuddly" class="cat-cuddly-search" type="radio">1/5</input>
      <input name="cuddly" class="cat-cuddly-search" type="radio">2/5</input>
      <input name="cuddly" class="cat-cuddly-search" type="radio">3/5</input>
      <input name="cuddly" class="cat-cuddly-search" type="radio">4/5</input>
      <input name="cuddly" class="cat-cuddly-search" type="radio">5/5</input>
      <input name="cuddly" class="cat-cuddly-search" type="radio">No preference</input>
  </div>

  <div id="filter-search-playful">
      <h3>Playfulness Rating:</h3>
      <input name="playful" class="cat-playful-search" type="radio">1/5</input>
      <input name="playful" class="cat-playful-search" type="radio">2/5</input>
      <input name="playful" class="cat-playful-search" type="radio">3/5</input>
      <input name="playful" class="cat-playful-search" type="radio">4/5</input>
      <input name="playful" class="cat-playful-search" type="radio">5/5</input>
      <input name="playful" class="cat-playful-search" type="radio">No preference</input>
  </div>

  <div id="filter-search-otherPets">
      <h3>Good With Other Pets:</h3>
      <label for="cat-otherPets">Good w/ other pets?</label>
      <input id="cat-otherPets" type="checkbox"></input>
  </div>

  <div id="filter-search-coatLength">
      <h3>Coat Length:</h3>
      <input name="coatLength" class="cat-coatLength-search" type="radio">Short</input>
      <input name="coatLength" class="cat-coatLength-search" type="radio">Medium</input>
      <input name="coatLength" class="cat-coatLength-search" type="radio">Long</input>
      <input name="coatLength" class="cat-coatLength-search" type="radio">No preference</input>
  </div>

</sidebar>
