<html>
	<head>

		<title>Pals for Padawans</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="style.css" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Scada&display=swap" rel="stylesheet">
		<script src="index.js" charset="utf-8" defer></script>

	</head>
	<body>
		<header>

			<a class="site-title title" href="#"><h1>Padawan Pals</h1></a>
			<h2 class="site-subtitle title">May the furs be with you</h2>

			<nav class="navbar">
				<ul class="navlist">

					<li class="navitem navlink"><a href="#">Donate a cat</a></li>
					<li class="navitem navlink"><a href="#">Adoption Quiz</a></li>
					<li class="navitem navlink"><a href="#">About Us</a></li>
					<li class="navitem search">
						<input type="text" id="search-input" placeholder="Search for cats..."/>
						<button type="button" id="search-button"><i class="search-icon"></i></button>

				</ul>
			</nav>

		</header>

        <!-- Unsure if the following is correct -->

		{{{infoSidebar}}}

        {{{kittenContainer}}}

        {{{searchSidebar}}}

		{{{donateModal}}}

	</body>
</html>
