<content class="about-us"> 
    <h2> About Padawan Pals </h2>
    <p> 
        A long time ago in a galaxy far, far away there exists a planet 
        of kittens with the ability to use the force. The Jedi council 
        declared the planet a sacred place to send their Padawans in order
        for them to select a companion to force bond with during their training.
    </p>
    <p>
        However, a recent surge in Padawan apprentices put a strain on 
        the Jedi council's ability to transport all the Padawans to the 
        planet of cats. 
    </p>
    <p>
        The Padawan Pals website exists as a more convenient way for young
        Jedi apprentices to select a force companion. All kittens listed on 
        the main page are adoptable and can be shipped to your planet or 
        spaceship via Amazon Pets.
    </p>
</content>